<%- include("../../layout/layout-start", { title }) %>
<%- include("../../shared/menu") %>

<h1 class="mb-3 mt-5"><%= title %></h1>
<%- include("../../shared/books/addEditForm", { book: {} }) %>

<%- include("../../layout/layout-end") %>